* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif, serif;
    font-size: 15px;
    color: #888b8b;
    background-color: #f3f3f4;
}

.cart.container {
    /* outline: 1px solid red; */
    display: flex;
    padding: 1.2em;
    gap: 2em;
}

.cart.container > * {
    background-color: white;
    border-top: 2px solid #d4d4d4;
}

.items {
    /* outline: 1px solid green; */
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.1em;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid #e9ecee;
}

.title .itemno {
    font-size: 0.9em;
    font-weight: 100;
}

.item {
    display: flex;
    border-bottom: 1px solid #e9ecee;
    padding: 2em;
    gap: 1.5em;
}

.item-imageholder {
    width: 5.6em;
    height: 5.6em;
    background-color: #f7f7f8;
}

.item-description {
    flex-basis: 65%;
    margin-bottom: 1em;
}

.item-values {
    flex-grow: 1;
}

.item-description h1 {
    color: #36bca0;
    margin-bottom: 0.6em;
}

.item-description .list h2 {
    margin-top: 1.1em;
    font-size: 1em;
}

.item-button {
    margin-top: 1em;
    display: flex;
}

.item-button button {
    font-size: 1em;
    color: #888b8b;
    background: none;
    border: none;
}

button.gift-button {
    border-right: 1px solid #888b8b;
    padding-right: 1ch;
}

.remove-button {
    padding-left: 1ch;
}

.item-values {
    height: 100%;
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.current-value {
    display: flex;
    gap: 0.5ch;
}

.item:first-child .current-value {
    flex-direction: column;
}

.current-value span:nth-child(2) {
    text-decoration: line-through;
    font-size: 0.9em;
    text-align: end;
}

.total {
    font-weight: 700;
}

.quantity {
    padding: 1.2ch;
    padding-right: 4ch;
    border: 1px solid #d4d4d4;
}

.items-bottom {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.3em;
}

.items-bottom button,
.summary-bottom button {
    padding: 1.3ch;
    color: #888b8b;
    background-color: white;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
}

button.checkout {
    background-color: #36bca0;
    color: white;
    border: none;
}

.summary {
    height: 100%;
    margin-right: 1em;
}

.summary .details {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    gap: 1em;
    line-height: 1.5;
    font-size: 1.2em;
}

.summary .value {
    font-size: 1.5em;
    font-weight: 1000;
    color: #676a6c;
}

.details hr {
    color: #f6f6f6;
}

.note {
    font-size: 0.9em;
}

.summary-bottom {
    display: flex;
}

@media screen and (max-width: 1050px) {
    .cart.container {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .item {
        flex-direction: column;
    }
}
